@import "tailwindcss";

@layer utilities {
  .text-terror,
  .text-terror h1,
  .text-terror p,
  .text-terror li,
  .text-terror button {
    background: linear-gradient(to bottom, #c90606, #991b1b, #a12f2f);
    background-clip: text;
    color: transparent;
  }

  html,
  body {
    color: white;
    background-color: black;
  }
}

